/* Importación de la fuente de Google - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necesario para la imagen centrada */
}

img.logo-full {
    max-width: 100%; /* Se adapta al tamaño del contenedor */
    max-height: 100%; /* Asegura que la imagen no se desborde */
    position: absolute; /* Centra la imagen de forma absoluta */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta la posición para estar realmente centrada */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 260px;
}

/* Restante código CSS para la barra lateral (como lo tenías) */
.sidebar .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    width: 100px;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.sidebar .links li:hover {
    cursor: pointer;
    background: #fff;
}

.sidebar .links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.sidebar .links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.sidebar .links li span {
    padding: 12px 10px;
}

.sidebar .links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.sidebar .logout-link {
    margin-top: 20px;
}
